body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #e9e7d8;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-top: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}
.card{
  width: 45%;
}
.tile-image {
  height: 20rem;
  float: left;
  margin-right: 50px;
}

.right {
  float: right;
  background-color: rgb(247, 222, 226);
}

.left {
  float: left;
  background-color:rgb(247, 222, 226);
}
.esqueda {
  float: left;
  background-color:rgb(247, 222, 226);
  margin-top: 2rem;
}
.baixo{
  clear: both;
  text-align: center;
}
.criar {
  color: pink;
}
.lado {
  
  float: left;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}
@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover; }
    }